packages/*/dist

# dependencies
/packages/*/node_modules/
packages/.pnp
packages/.pnp.js

# testing
/packages/*/coverage

# next.js
packages/front/.next/
packages/front/out/

# production
/packages/*/build

# misc
/packages/*/.DS_Store
/packages/*/*.pem

# debug
/packages/*/npm-debug.log*
/packages/*/yarn-debug.log*
/packages/*/yarn-error.log*

# local env files
/packages/*/.env*.local

# vercel
/packages/*/.vercel

# typescript
/packages/*/*.tsbuildinfo
/packages/*/next-env.d.ts
